scipy
SimpleITK
h5py

logging
scikit-build=0.17.3
swig=4.1.1
opencv-python=4.7.0
tifffile=2023.4.12
#python=3.11.2
nvidia-ml-py3
fabio=2023.4.1
matplotlib

#CT RECONSTRUCTION


tomocupy
pywavelets
torchvision
torchaudio
meta


#IMAGE REGISTRATION
SimpleITK=2.2.1



#PERFORMANCES
cupy=12.0.0


#####conda installation


numba=0.57
cudatoolkit=11.0


#INBUILD
json
